In [1]:
# 필요한 라이브러리 설치 및 임포트
# !pip install pandas

import pandas as pd
import datetime

---

# [Step 2] 데이터 전처리

#### **<span style="color:blue">[2-0] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [2]:
# 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )

weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

#### **<span style="color:blue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경
* 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-5]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 날씨 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예:측정일시 값 -1)하세요.

In [3]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19

In [4]:
air_21['측정일시']=air_21['측정일시']-1
air_21['time'] =pd.to_datetime(air_21['측정일시'], format='%Y%m%d%H')

In [5]:
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,2021100100,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 00:00:00
1,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00
2,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19,2021-10-01 02:00:00
3,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 03:00:00
4,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 04:00:00

In [6]:
air_22.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2022010105,0.003,0.5,0.005,0.040,24.0,11.0,서울 종로구 종로35가길 19

In [7]:
air_22['측정일시']=air_22['측정일시']-1
air_22['time'] =pd.to_datetime(air_22['측정일시'], format='%Y%m%d%H')

---

#### **<span style="color:blue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경

In [8]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
weather_21.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5

In [9]:
weather_21['time'] =pd.to_datetime(weather_21['일시'], format='%Y-%m-%d %H')

# weather_21['month'] = weather_21['일시'].dt.month
# weather_21['date'] = weather_21['일시'].dt.day
# weather_21['hour'] = weather_21['일시'].dt.hour

# weather_21.tail()

In [10]:
weather_22['time'] =pd.to_datetime(weather_22['일시'], format='%Y-%m-%d %H')

# weather_22['month'] = weather_22['일시'].dt.month
# weather_22['date'] = weather_22['일시'].dt.day
# weather_22['hour'] = weather_22['일시'].dt.hour

# weather_22.tail()

---

#### **<span style="color:blue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
* df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
* df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [11]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21 = pd.merge(air_21, weather_21, on=['time'])
df_22 = pd.merge(air_22,weather_22, on=['time'])

---

#### **<span style="color:blue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
* df_21, df_22에 사용할 변수들만 넣어보세요.

In [12]:
# df_21, df_22에 사용할 변수들만 할당
df_21 = df_21.drop(['지역','망','측정소코드','측정소명','측정일시','주소','지점','지점명','일시','기온 QC플래그',
                    '강수량 QC플래그','풍속 QC플래그', '풍향 QC플래그', '습도 QC플래그', '현지기압 QC플래그',
                    '해면기압 QC플래그', '일조 QC플래그', '일사 QC플래그', '지면상태(지면상태코드)', '지면온도 QC플래그',
                    '운형(운형약어)'], axis=1)
df_21.tail(3)

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),강수량(mm),풍속(m/s),...,전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
8756,0.003,0.6,0.012,0.036,30.0,19.0,2021-09-30 21:00:00,20.9,NaN,0.4,...,0.0,0,NaN,2000,NaN,19.2,23.3,23.1,23.0,22.9
8757,0.003,0.6,0.004,0.042,33.0,19.0,2021-09-30 22:00:00,20.4,NaN,0.8,...,0.0,0,NaN,2000,NaN,18.6,23.0,22.8,22.9,22.9
8758,0.003,0.6,0.003,0.042,29.0,17.0,2021-09-30 23:00:00,19.7,NaN,1.4,...,0.0,0,NaN,2000,NaN,18.1,22.6,22.5,22.8,22.9

In [13]:
# df_21, df_22에 사용할 변수들만 할당
df_22 = df_22.drop(['지역','망','측정소코드','측정소명','측정일시','주소','지점','지점명','일시','기온 QC플래그',
                    '강수량 QC플래그','풍속 QC플래그', '풍향 QC플래그', '습도 QC플래그', '현지기압 QC플래그',
                    '해면기압 QC플래그', '일조 QC플래그', '일사 QC플래그', '지면상태(지면상태코드)', '지면온도 QC플래그',
                    '운형(운형약어)'], axis=1)
df_22.tail(3)

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),강수량(mm),풍속(m/s),...,전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
2157,0.003,0.3,0.038,0.013,11.0,5.0,2022-03-31 21:00:00,10.5,NaN,3.5,...,1,1,10.0,2000,NaN,7.8,11.8,11.4,11.0,10.4
2158,0.003,0.3,0.036,0.015,11.0,5.0,2022-03-31 22:00:00,9.3,NaN,1.9,...,3,3,10.0,2000,NaN,7.3,11.4,11.1,10.9,10.5
2159,0.002,0.4,0.033,0.017,9.0,5.0,2022-03-31 23:00:00,8.4,NaN,1.2,...,1,1,10.0,2000,NaN,6.7,11.0,10.8,10.8,10.5

In [14]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음)
df_21['month'] = df_21['time'].dt.month
df_21['date'] = df_21['time'].dt.day
df_21['hour'] = df_21['time'].dt.hour

df_22['month'] = df_22['time'].dt.month
df_22['date'] = df_22['time'].dt.day
df_22['hour'] = df_22['time'].dt.hour

df_22.tail(3)

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),강수량(mm),풍속(m/s),...,시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,date,hour
2157,0.003,0.3,0.038,0.013,11.0,5.0,2022-03-31 21:00:00,10.5,NaN,3.5,...,2000,NaN,7.8,11.8,11.4,11.0,10.4,3,31,21
2158,0.003,0.3,0.036,0.015,11.0,5.0,2022-03-31 22:00:00,9.3,NaN,1.9,...,2000,NaN,7.3,11.4,11.1,10.9,10.5,3,31,22
2159,0.002,0.4,0.033,0.017,9.0,5.0,2022-03-31 23:00:00,8.4,NaN,1.2,...,2000,NaN,6.7,11.0,10.8,10.8,10.5,3,31,23

In [15]:
# time 변수를 index로 세팅
df_21.set_index(keys='time', inplace = True)
df_22.set_index(keys='time', inplace = True)

---

#### **<span style="color:blue">[2-5] 변수들의 결측치 처리</span>**

In [16]:
# df_21, df_22의 결측치 확인
df_21.isna().sum()

SO2               112
CO                 80
O3                 97
NO2                80
PM10              105
PM25               97
기온(°C)              0
강수량(mm)          7810
풍속(m/s)             2
풍향(16방위)            2
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           3968
일사(MJ/m2)        3968
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
최저운고(100m )      4212
시정(10m)             0
현상번호(국내식)        6634
지면온도(°C)            5
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
month               0
date                0
hour                0
dtype: int64

In [17]:
df_21.fillna(method = 'pad', inplace = True)
df_21.isna().sum()

SO2                 0
CO                  0
O3                  0
NO2                 0
PM10                0
PM25                0
기온(°C)              0
강수량(mm)            22
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)              7
일사(MJ/m2)           7
적설(cm)           1887
3시간신적설(cm)       1887
전운량(10분위)           0
중하층운량(10분위)         0
최저운고(100m )         7
시정(10m)             0
현상번호(국내식)          22
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
month               0
date                0
hour                0
dtype: int64

In [18]:
df_21.fillna(method = 'bfill', inplace = True)
df_21.isna().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
month            0
date             0
hour             0
dtype: int64

In [19]:
df_22.isna().sum()

SO2                21
CO                 21
O3                 21
NO2                21
PM10               38
PM25               25
기온(°C)              0
강수량(mm)          2079
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           1089
일사(MJ/m2)        1089
적설(cm)           2020
3시간신적설(cm)       2145
전운량(10분위)           0
중하층운량(10분위)         0
최저운고(100m )      1417
시정(10m)             0
현상번호(국내식)        1742
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
month               0
date                0
hour                0
dtype: int64

In [20]:
df_22.fillna(method = 'pad', inplace = True)
df_22.isna().sum()

SO2               0
CO                0
O3                0
NO2               0
PM10              0
PM25              0
기온(°C)            0
강수량(mm)          30
풍속(m/s)           0
풍향(16방위)          0
습도(%)             0
증기압(hPa)          0
이슬점온도(°C)         0
현지기압(hPa)         0
해면기압(hPa)         0
일조(hr)            8
일사(MJ/m2)         8
적설(cm)           30
3시간신적설(cm)       30
전운량(10분위)         0
중하층운량(10분위)       0
최저운고(100m )      14
시정(10m)           0
현상번호(국내식)        28
지면온도(°C)          0
5cm 지중온도(°C)      0
10cm 지중온도(°C)     0
20cm 지중온도(°C)     0
30cm 지중온도(°C)     0
month             0
date              0
hour              0
dtype: int64

In [21]:
df_22.fillna(method = 'bfill', inplace = True)
df_22.isna().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
month            0
date             0
hour             0
dtype: int64

---

#### **<span style="color:blue">[2-6] 전일 같은 시간 변수 추가</span>**

* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가합니다. 
* 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [22]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.
df_21['PM10_lag1'] = df_21['PM10'].shift(24)
df_22['PM10_lag1'] = df_22['PM10'].shift(24)

---

#### **<span style="color:blue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [23]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가
df_21['PM10_1'] = df_21['PM10'].shift(-1)
df_22['PM10_1'] = df_22['PM10'].shift(-1)

In [24]:
# 결측치가 있다면 처리
df_21.isna().sum()

SO2               0
CO                0
O3                0
NO2               0
PM10              0
PM25              0
기온(°C)            0
강수량(mm)           0
풍속(m/s)           0
풍향(16방위)          0
습도(%)             0
증기압(hPa)          0
이슬점온도(°C)         0
현지기압(hPa)         0
해면기압(hPa)         0
일조(hr)            0
일사(MJ/m2)         0
적설(cm)            0
3시간신적설(cm)        0
전운량(10분위)         0
중하층운량(10분위)       0
최저운고(100m )       0
시정(10m)           0
현상번호(국내식)         0
지면온도(°C)          0
5cm 지중온도(°C)      0
10cm 지중온도(°C)     0
20cm 지중온도(°C)     0
30cm 지중온도(°C)     0
month             0
date              0
hour              0
PM10_lag1        24
PM10_1            1
dtype: int64

In [25]:
df_21.dropna(inplace=True)
df_22.dropna(inplace=True)
df_22.isna().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일사(MJ/m2)        0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
month            0
date             0
hour             0
PM10_lag1        0
PM10_1           0
dtype: int64

---

#### **<span style="color:blue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [26]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
target = 'PM10_1'
train_x = df_21.drop(target, axis=1)
train_y = df_21.loc[:, target]
test_x = df_22.drop(target, axis=1)
test_y = df_22.loc[:, target]

In [27]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
train_x.to_csv('train_x.csv', index=False)
train_y.to_csv('train_y.csv', index=False)
test_x.to_csv('test_x.csv', index=False)
test_y.to_csv('test_y.csv', index=False)

In [29]:
test_x

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),...,현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),month,date,hour,PM10_lag1
time,,,,,,,,,,,,,,,,,,,,,
2022-01-02 00:00:00,0.004,0.8,0.002,0.052,38.0,24.0,-2.8,0.0,2.3,50,...,5.0,-3.3,-0.4,-0.7,-0.3,0.8,1,2,0,23.0
2022-01-02 01:00:00,0.004,0.8,0.002,0.052,34.0,23.0,-2.9,0.0,2.1,50,...,5.0,-3.4,-0.4,-0.7,-0.3,0.8,1,2,1,20.0
2022-01-02 02:00:00,0.004,0.8,0.002,0.052,35.0,26.0,-2.6,0.0,1.9,50,...,5.0,-2.5,-0.4,-0.7,-0.3,0.8,1,2,2,20.0
2022-01-02 03:00:00,0.004,0.6,0.002,0.046,33.0,24.0,-2.1,0.0,2.5,50,...,5.0,-2.1,-0.4,-0.7,-0.3,0.8,1,2,3,19.0
2022-01-02 04:00:00,0.003,0.5,0.005,0.039,33.0,25.0,-1.9,0.0,2.0,50,...,5.0,-2.1,-0.3,-0.7,-0.3,0.8,1,2,4,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-31 18:00:00,0.002,0.4,0.044,0.010,10.0,9.0,13.2,0.0,4.3,340,...,19.0,12.4,12.9,12.0,10.8,10.1,3,31,18,29.0
2022-03-31 19:00:00,0.002,0.4,0.036,0.017,11.0,8.0,12.3,0.0,2.9,340,...,19.0,10.0,12.6,11.8,11.0,10.2,3,31,19,34.0
2022-03-31 20:00:00,0.002,0.4,0.032,0.018,10.0,7.0,11.6,0.0,2.7,340,...,19.0,8.9,12.2,11.6,11.0,10.3,3,31,20,49.0
2022-03-31 21:00:00,0.003,0.3,0.038,0.013,11.0,5.0,10.5,0.0,3.5,320,...,19.0,7.8,11.8,11.4,11.0,10.4,3,31,21,51.0
2022-03-31 22:00:00,0.003,0.3,0.036,0.015,11.0,5.0,9.3,0.0,1.9,50,...,19.0,7.3,11.4,11.1,10.9,10.5,3,31,22,44.0